@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito+Sans:ital,wght@1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* header */
.navbar {
    height: 90px;
    background-color: white;

}

.navbar img {
    margin-left: 15px;
    height: 75px;
}

.navegation {
    display: inline-flex;
    position: absolute;
    left: 40%;
}

.navegation li {
    margin: 0px 10px 0px 10px;
}

.navegation a {
    font-family: 'Lilita One', cursive;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    color: #2a2a46;
}

.navegation a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: purple;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navegation a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* banner */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.618), #00000080), url(img/Snapinsta.app_329635112_561381602614595_2242043528685174268_n_1080.jpg);
    text-align: center;
    background-position: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.banner span {
    font-family: 'Nunito Sans', sans-serif;
    color: white;

}

.textTitle {
    font-size: 50px;
}

.textSubTitle {
    font-size: 40px;
}

.text {
    font-size: 25px;
}

.banner .container .textTitle {
    font-size: 50px;
    line-height: 60px;
}

.banner .container .textSubTitle {
    font-size: 40px;
}

.banner .container .text {
    font-size: 25px;
}

.btnBanner {
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    background-color: rgb(89, 222, 89);
}

.btnBanner:hover {
    background-color: white;
}

/* toys container */

.toyscontainer {
    text-align: center;

}

.toyscontainer .text h1 {
    color: purple;
    margin: 80px 0px 65px 0px;
}

.toyscontainer .text p {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    font-size: 20px;
}

/* card */

.card{
    padding: 0;
    
}

.card-body a{
    text-decoration: none;
}